.icon-tw {
  background-image: url("https://html.themexriver.com/lasight/images/icons/icon-4.png");
  /* position: absolute; */
  right: 0px;
  bottom: 0px;
  /* width: 301px; */
  height: 100%;
  background-repeat: no-repeat;
}
